<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{::title}, ~{::main}, _, _)}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Lista de Coupees</title>
</head>
<body>
<main>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="card-title">Lista de Coupees</div>
          <div class="card-tools">
            <a th:href="@{/admin/produtos/cadastrarCoupees}" class="btn btn-sm btn-success">Novo Veículo</a>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th>#</th>
              <th>Veículo</th>
              <th>Valor</th>
              <th>Marca</th>
              <th>Quilometragem</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" Coupees: ${listaCoupees}">
              <td th:text="${Coupees.id}"></td>
              <td th:text="${Coupees.veiculo}"></td>
              <td th:text="${Coupees.preco}"></td>
              <td th:text="${Coupees.marca}"></td>
              <td th:text="${Coupees.quilometragem}"></td>
              <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/admin/produtos/{id}/editarCoupees (id=${Coupees.id})}">Editar</a>
                <a class="btn btn-sm btn-danger"
                   th:href="@{/admin/produtos/{id}/excluirCoupees (id=${Coupees.id})}"
                   onclick="return confirm ('Tem certeza que deseja excluir?')"
                >Excluir</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>