<!-- Main Sidebar Container -->
<aside th:fragment="aside" class="main-sidebar sidebar-dark-primary elevation-4"
       xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img th:src="@{/img/cabriolet.png}"
             alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">Auto-Cars</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img th:src="@{/img/usuario_icon.png}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"  sec:authentication="name"></a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-car"></i>
                        <p>
                            Veículos
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Categorias
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/cadastrarConversiveis}" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>Cadastrar Conversíveis</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/cadastrarSUVs}" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>Cadastrar SUVs</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/cadastrarCoupees}" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>Cadastrar Coupees</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/cadastrarEletricos}" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>Cadastrar Eletricos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/cadastrarEsportivos}" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>Cadastrar Esportivos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/cadastrarMinivans}" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>Cadastrar Minivans</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/cadastrarPicapes}" class="nav-link">
                                        <i class="nav-icon fas fa-edit"></i>
                                        <p>Cadastrar Picapes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-list"></i>
                                <p>
                                    Listas
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/listaGeral}" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>Lista Geral</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/listaConversiveis}" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>Lista Conversíveis</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/listaSUVs}" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>Lista SUVs</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/listaCoupees}" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>Lista Coupees</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/listaEletricos}" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>Lista Eletricos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/listaEsportivos}" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>Lista Esportivos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/listaMinivans}" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>Lista Minivans</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a th:href="@{/admin/produtos/listaPicapes}" class="nav-link">
                                        <i class="nav-icon fas fa-table"></i>
                                        <p>Lista Picapes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>



                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Usuários
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a th:href="@{/admin/usuarios/cadastrar}" class="nav-link">
                                <i class="nav-icon fas fa-edit nav-icon"></i>
                                <p>Cadastrar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/admin/usuarios/lista}" class="nav-link">
                                <i class="fas fa-table nav-icon"></i>
                                <p>Listar</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>