<!DOCTYPE html>
<html th:replace="~{adminlte3 :: layout (~{::title}, ~{::main}, _, ~{::scripts})}"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Formulário de Elétricos</title>
</head>
<body>
<main>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="card-title">Formulário de Elétricos</div>
                </div>
                <div class="card-body">

                    <form method="POST" th:object="${formEletricos}">

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="veiculo">Veículo</label>
                                    <input type="text" id="veiculo" class="form-control" th:field="*{veiculo}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('veiculo')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="preco">Valor</label>
                                    <input type="text" id="preco" class="form-control money" th:field="*{preco}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('preco')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="marca">Marca</label>
                                    <input type="text" id="marca" class="form-control" th:field="*{marca}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('marca')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="modelo">Modelo</label>
                                    <input type="text" id="modelo" class="form-control" th:field="*{modelo}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('modelo')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="anoFabricacao">Ano de Fabricação</label>
                                    <input type="text" id="anoFabricacao" class="form-control " th:field="*{anoFabricacao}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('anoFabricacao')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="cor">Cor</label>
                                    <input type="text" id="cor" class="form-control" th:field="*{cor}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('cor')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="quilometragem">Quilometragem</label>
                                    <input type="number" id="quilometragem" class="form-control" th:field="*{quilometragem}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('quilometragem')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="autonomia">Autonomia</label>
                                    <input type="number" id="autonomia" class="form-control" th:field="*{autonomia}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('autonomia')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="capacidadeBateria">Capacidade de Bateria</label>
                                    <input type="number" id="capacidadeBateria" class="form-control" th:field="*{capacidadeBateria}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('capacidadeBateria')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="tempoCarregamento">Tempo de Carregamento</label>
                                    <input type="number" id="tempoCarregamento" class="form-control" th:field="*{tempoCarregamento}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('tempoCarregamento')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="tipoMotor">Tipo do Motor</label>
                                    <input type="text" id="tipoMotor" class="form-control" th:field="*{tipoMotor}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('tipoMotor')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="potenciaMotor">Potência do Motor</label>
                                    <input type="number" id="potenciaMotor" class="form-control" th:field="*{potenciaMotor}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('potenciaMotor')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="tipoCarregador">Tipo Carregador</label>
                                    <input type="text" id="tipoCarregador" class="form-control" th:field="*{tipoCarregador}">
                                    <ul>
                                        <li class="text-danger" th:each="erro : ${#fields.errors('tipoCarregador')}" th:text="${erro}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-lg">Salvar</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:fragment="scripts">
    <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
    <script>
        $(document).ready(function() {
            $('.money').mask("#.##0,00", {reverse: true});
        })
    </script>
</th:block>
</body>
</html>
